/* class to make texts unselectable */
.unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Additional fonts */
@font-face {
  src: url(../fonts/PressStart.ttf);
  font-family: PressStart;
}

@font-face {
  src: url(../fonts/Righteous-Regular.ttf);
  font-family: RighteousReg;
}

body {
  text-align: center;
  background-color: #011F3F;
}

/* Title */
.title {
  color: #e23e57;
  padding-top: 4%;
  padding-bottom: 4%;

}

.title-text {
  font-size: 1.8rem;
  font-family: PressStart;
}


.test-btn {
  width: 100px;
  height: 100px;
  margin-left: 300px;
  background-color:purple;
}


/* The container of all boxes */

.container-0 {
  display: grid;

  justify-content: center;
  grid-gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 30px);


}

/* The boxes */
.box0 {
  width: 30px;
  height: 30px;

 background-color: mediumseagreen;
}

.box0:hover {
  background-color: powderblue;
}

/* middle button box */
.box-mid {
  width: 30px;
  height: 30px;
 
  background-color: blue !important;
  padding-top: 32px;

}


.redBox {
  background-color: #e23e57 !important;
}

.safeBox {
  background-color: white !important;
}

/* Show elemnts */
.appearElem {
  visibility: visible !important;
}

/* Additional informations */
.info {
  color: palevioletred;
  padding-top: 8%;
  padding-bottom: 4%;
  /* visibility: hidden; */
}

.info-text {
  font-size: 1.6rem;
  font-family: PressStart;
  visibility: hidden;
}

.start-button {
  font-family: RighteousReg;
  visibility: hidden;
}